html {
    font-size: 10px;
    box-sizing: border-box;
    background-color: thistle;
}
* {
    margin: 0;
    padding: 0;
}
.container {
    margin: 2rem auto;
    border: 1px solid black;
    border-radius: 1rem;
    width: 70rem;
    height: 40rem;
    background-size: contain;
    background-repeat: no-repeat;
}